<% content_for :head do %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
<% end %>

<div id="page-container">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1>Articles list</h1>
      <table>
        <tr>
          <th>Title</th>
          <th>Text</th>
        </tr>
        <% @articles.each do |article| %>
            <tr>
              <td><%= article.title %></td>
              <td><%= article.text %></td>
              <td><%= link_to 'Show', article_path(article) %></td>
              <td><%= link_to 'Edit', edit_article_path(article) %></td>
              <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
      </table>

    </div>
    <div class="column-third">

      <h3>Additional actions</h3>
      <%= link_to 'New article', new_article_path %>

    </div>
  </div>
</div>