<div id="page-container">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1>Article creator</h1>
      <%= render 'form' %>
      <%= link_to 'Back to list', articles_path %>

    </div>
    <div class="column-third">

    </div>
  </div>
</div>