<div id="page-container">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1>Article details</h1>
      <p>
        <strong>Title:</strong>
        <%= @article.title %>
      </p>
      <p>
        <strong>Text:</strong>
        <%= @article.text %>
      </p>
      <%= link_to 'Back to list', articles_path %>

    </div>
    <div class="column-third">

      <h3>Additional actions</h3>
      <%= link_to 'Edit article', edit_article_path(@article) %>

    </div>
  </div>
</div>
